## Python
__pycache__/

## LaTeX Core
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## LaTeX bibliography
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## LaTeX Build Tools
*.synctex.gz
*.fdb_latexmk
tex_template/*.pdf